.container {
  padding: 0 2rem;
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.div__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex: 1;
  padding: 16px 0;
  border-top: 1px solid var(--footer-border-top);
  justify-content: center;
  align-items: center;
  color: var(--title-color);
}

.div__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
  font-weight: 400;
}

.button__theme {
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  background-color: transparent;
  width: 35px;
  height: 35px;
  border: 1px solid var(--button-border-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: var(--title-color);
}

.button__theme:hover {
  border: 1px solid var(--button-hover-border-color);
}
